[submodule "OCA/l10n-italy"]
	path = OCA/l10n-italy
	url = git@github.com:OCA/l10n-italy.git
	branch = 14.0

[submodule "ABC-Strategie-GitHub/abc_contabilita_italiana"]
	path = ABC-Strategie-GitHub/abc_contabilita_italiana
	url = git@github.com:ABC-Strategie-GitHub/abc_contabilita_italiana.git
	branch = main
